.input1{


    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    
}

.input2{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    

}

.input3{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    
}

.button{
    color: #333;
border: 1px solid rgb(1, 88, 23);
border-bottom: 5px solid rgb(14, 77, 1);
background-color: rgb(9, 255, 0);
font-size: 12px;
margin: 5px;
padding: 10px 17px 11px 17px;
display: inline-block;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: relative;
top: 0px;
}

.button:hover{
cursor: hand; 
cursor: pointer;
}

.button:active{
border-bottom: 3px solid #999;
top: 3px;
}